<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="input.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Search Engine</title>
</head>

<body>
    <main class="flex items-center justify-center bg-img h-screen">
        <div class="w-2/4">
            <div
                class="flex-1 justify-center items-center flex-col relative  w-full shadow-4xl px-20 py-8 bg-gradient-to-b from-slate-400 to-sky-100 rounded-3xl  ">
                <div class="flex justify-center flex-col">
                    <form action="" class="bg-white px-4 py-3 rounded-md shadow-2xl flex justify-around">
                        <input type="file" accept=".json" placeholder="Add json file" class="px-4 py-1 cursor-pointer rounded-3xl text-black" required>
                        <input type="submit" value="Upload" class="bg-slate-500 opacity-100 transition-all hover:opacity-85 hover:text-black font-medium px-4 py-1 cursor-pointer rounded-md text-white">
                    </form>
                    <span class="text-gray-900 flex justify-center pt-3 font-bold">OR</span>
                    <form action="" class="bg-white px-4 py-3 rounded-md shadow-2xl form-grid">
                        <div class="form-input-container">
                            <label for="article-id" class="form-input-label">Article ID</label>
                            <input type="text" id="article-id" class="form-input px-2 py-1 bg-slate-200 shadow-md active:border-none" placeholder="Enter Article ID" autocomplete="off" required>
                        </div>
                        <div class="form-input-container">
                            <label for="date" class="form-input-label">Date</label>
                            <input type="date" id="date" class="form-input px-2 py-1 bg-slate-200 shadow-md" placeholder="dd/mm/yyyy" autocomplete="off" required>
                        </div>
                        <div class="form-input-container">
                            <label for="source" class="form-input-label">Source</label>
                            <input type="text" id="source" class="form-input px-2 py-1 bg-slate-200 shadow-md" placeholder="Enter Article Source" autocomplete="off" required>
                        </div>
                        <div class="form-input-container">
                            <label for="title" class="form-input-label">Article Title</label>
                            <input type="text" id="title" class="form-input px-2 py-1 bg-slate-200 shadow-md" placeholder="Enter Article Title" autocomplete="off" required>
                        </div>
                        <div class="form-input-container">
                            <label for="url" class="form-input-label">Article URL</label>
                            <input type="url" id="url" class="form-input px-2 py-1 bg-slate-200 shadow-md" placeholder="Enter Article URL"
                                minlength="6" autocomplete="off" required>
                        </div>
                        <div class="form-input-container">
                            <label for="author" class="form-input-label">Article Author</label>
                            <input type="text" id="author" class="form-input px-2 py-1 bg-slate-200 shadow-md" placeholder="Enter Article Author" autocomplete="off"required>
                        </div>
                        <div class="form-input-container col-span-2">
                            <label for="content" class="form-input-label">Article Author</label>
                            <input type="text" id="content" class="form-input px-2 py-1 bg-slate-200 shadow-md" placeholder="Enter Article content" autocomplete="off" required>
                        </div>
                        <button type="submit" class="form-input-submit col-span-2 bg-slate-500 py-1 shadow-2xl text-white hover:text-black font-medium">Add Article</button>
                        <div class="col-span-2 flex justify-center">
                            <a href="index.html" class="font-medium text-slate-700 hover:text-black ">Want to search the Articles?</a>
                        </div>
                    </form>




                </div>
            </div>
        </div>
    </main>
</body>

</html>